@mixin flex($direction, $wrap, $justify){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
}

h1{
    text-align: center;
    margin-bottom: 2em;
}

.data{
    @include flex(row, wrap, space-around);
    
    .size, .fetches{
        text-align: center;
        font-weight: bold;
        font-size: 1.05em;
        font-style: italic;

        >span{
            font-style: normal;
            font-size: 1.15em;
        }
    }
}

.selector{
    @include flex(row, wrap, space-around);

    >div{
        height: 1.5em;
        background: lightgray;
        border: 2px solid gray;
        border-radius: .5em;
        font-weight: bold;
        padding: 1em;
        line-height: 1.5em;
        margin-bottom: 1em;

        &:hover{
            background: gray;
            border: 2px solid lightgrey;
            color: white;
            cursor: pointer;
        }
    }
}